<div class="header">
        </div>
        <div class="container-fluid text-center">
          <div class="jumbotron">
            <h1 class="display-4">SMOi</h1>

            <button type="button" class="btn btn-primary logButton" data-toggle="modal"
              data-target="#sign-up-modal">Sign Up</button>
            <button type="button" class="btn btn-primary logButton" data-toggle="modal"
              data-target="#sign-in-modal">Sign In</button>
          </div>

          <div class="modal fade" id="sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"> Sign In </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>