.list-group-item {
  line-height: 2.5;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 9256c7f439d4d1b51a22247d2e68ed5fbb871186
.sections {
width: 400px;
height: 450px;
border: 2px solid black;
border-radius: 5px;
}
<<<<<<< HEAD
=======
>>>>>>> 75103b7c01413296496432350145041a580ff022
=======

>>>>>>> 9256c7f439d4d1b51a22247d2e68ed5fbb871186
